<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pertiNetz2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pertiNetz2.presentation.PertiNetz2ModelWizardID"
            name="%_UI_PertiNetz2ModelWizard_label"
            class="pertiNetz2.presentation.PertiNetz2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PertiNetz2ModelFile.gif">
         <description>%_UI_PertiNetz2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pertiNetz2 -->
      <editor
            id="pertiNetz2.presentation.PertiNetz2EditorID"
            name="%_UI_PertiNetz2Editor_label"
            icon="icons/full/obj16/PertiNetz2ModelFile.gif"
            extensions="pertinetz2"
            class="pertiNetz2.presentation.PertiNetz2Editor"
            contributorClass="pertiNetz2.presentation.PertiNetz2ActionBarContributor">
      </editor>
   </extension>

</plugin>
