<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pertiNetz2 -->
      <package
            uri="http://www.example.org/pertiNetz2"
            class="pertiNetz2.PertiNetz2Package"
            genModel="model/pertiNetz2.genmodel"/>
   </extension>

</plugin>
